* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

* button {
    cursor: pointer;
}

 ::-webkit-scrollbar {
    width: 12px;
}

 ::-webkit-scrollbar-track {
    background: #1b1b1b;
}

 ::-webkit-scrollbar-thumb {
    background: #444444;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
}

body:after {
    background-image: url("https://files.facepunch.com/garry/1b1011b1/test.png?1=");
    content: " ";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 500;
    pointer-events: none;
    opacity: .6;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}

section {
    width: 100%;
}

section .container {
    max-width: 1100px;
    margin: auto;
    padding: 20px 1em;
}

.header {
    height: 60vh;
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header .overlay {
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background: black;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 212, 255, 0)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 212, 255, 0) 100%);
    z-index: -1;
}

.header .nav {
    position: relative;
}

.header .nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 10px;
}

.header .nav .container img {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.header .nav .container img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.header .nav .container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header .nav .container ul a {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    color: #e4dad1;
    padding: 8px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1.25rem;
    margin: 0px 10px;
}

.header .nav .container ul .btn {
    background-color: #cd412b;
    padding: 8px 12px;
}

.header .nav .container ul a:hover {
    color: #fff;
}

.header .nav .container form button {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    color: #e4dad1;
    padding: 8px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1.25rem;
    margin: 0px 10px;
    background-color: #cd412b;
    padding: 8px 12px;
    border: none;
}

.header .header-container {
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 20px 0em;
}

.header .header-container .box {
    text-align: center;
    margin: auto;
}

.header .header-container .box h1 {
    font-size: 7rem;
    line-height: 9rem;
    color: #e4dad1;
    font-weight: 500;
}

.header .header-container .box p {
    margin-bottom: 2rem;
    line-height: 1.7rem;
    color: #e4dad1;
    font-size: 17px;
    font-weight: 600;
    display: block;
}

.header .header-container .box ul a {
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    color: #e4dad1;
    padding: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1.45rem;
    background-color: #cd412b;
    padding: 10px 15px;
    margin-right: 10px;
}

.header .header-container .box ul a:hover {
    color: #fff;
}

.header .header-container .box ul .btn {
    background-color: #1b1b1b;
    padding: 10px 30px;
    border-radius: 3px;
}

.wipe .container {
    max-width: 1000px;
    padding: 100px 1em;
}

.wipe .container h1 {
    color: #cd412b;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 2rem;
    margin-bottom: 30px;
}

.wipe .container h1 span {
    color: #fff;
    font-size: 0.9rem;
}

.wipe .container h1 span i {
    background-color: #5d7239;
    color: white;
    margin-left: 2px;
    padding: 3px 2px;
    border-radius: 50px;
    margin-top: -2px;
    font-size: 12px;
}

.wipe .container .box {
    background-color: rgba(20, 19, 19, 0.931);
    padding: 30px;
}

.wipe .container .box h3 {
    color: #c5c5c5;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.7rem;
}

.wipe .container .box .list {
    margin-bottom: 20px;
}

.wipe .container .box .list li {
    text-transform: capitalize;
    margin: 20px 0px;
}

.wipe .container .box p {
    color: #838383;
    font-size: 1.045rem;
    line-height: 2rem;
    margin-bottom: 30px;
}

.wipe .container .box p i {
    background-color: #5d7239;
    color: white;
    margin-left: 2px;
    padding: 3px 2px;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 12px;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.wipe .container .box p span {
    color: #cd412b;
}

.wipe .container .box ul li {
    color: #838383;
    margin: 10px 0px;
}

.wipe .container .box ul li i {
    background-color: #5d7239;
    color: white;
    margin-left: 2px;
    padding: 3px 2px;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 12px;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.wipe .container .box ul li span {
    color: #cd412b;
}

.wipe .container .box table {
    border-collapse: collapse;
    width: 100%;
}

.wipe .container .box table tr th {
    background-color: #5d7239;
    color: #e4dad1;
    padding: 10px;
}

.wipe .container .box table tr td {
    padding: 13px 10px;
    text-align: center;
    color: #e4dad1;
    font-size: 0.8rem;
}

.wipe .container .box table tr td i {
    color: #e4dad1;
    padding: 5px;
    font-size: 0.6rem;
}

.wipe .container .box table tr td .fa-times {
    background-color: #cd412b;
    padding: 5px 8px;
}

.wipe .container .box table tr td .fa-check {
    background-color: #5d7239;
}

.wipe .container .box table tr .cap {
    text-transform: capitalize;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.1em;
}

.wipe .container .box table tr .wiped {
    background-color: #3b4b20;
    color: #e4dad1;
}

.wipe .container .box table tr .active {
    background-color: #5d7239;
    color: #e4dad1;
}

.wipe .container .box table tr:nth-child(odd) {
    background-color: #252525;
}

.footer {
    background-color: #0f0f0f;
}

.footer .container {
    text-align: center;
    padding: 50px 1em;
}

.footer .container p {
    font-family: 'Bebas Neue', cursive;
    color: #e4dad1;
    font-size: 1.5rem;
}

.footer .container p a {
    font-family: 'Bebas Neue', cursive;
    color: #cd412b;
    text-decoration: underline;
}


/*# sourceMappingURL=wipe.css.map */